(
	axes: {
		"leftright": Emulated(
            pos: Key(Right),
            neg: Key(Left)
        )
	},
	actions: {
		"accelerate": [ [Key(S)]],
		"rotate": [ [Key(Z)]],
		"left": [ [Key(Q)]],
		"right": [ [Key(D)]],
	},
)
